[submodule "C-Cal-Engine"]
	path = C-Cal-Engine
	url = https://github.com/Marcel-dev2009/C-Cal-Engine.git
[submodule "Guess-I-Guess"]
	path = Guess-I-Guess
	url = https://github.com/Marcel-dev2009/Guess-I-Guess.git
[submodule "C-Contact-book"]
	path = C-Contact-book
	url = https://github.com/Marcel-dev2009/C-Contact-book.git
